Repository MON-DA-Y/FE, pull requests merged in 2025-08, with the labels that each got.

#35 feat/#34: 출석률 조회 api 연결
  package-lock.json
  package.json
  src/apis/attendance.ts
  src/apis/config.ts
  src/app/user/components/AttendBtn.tsx
  src/app/user/parent/[studentId]/page.tsx
  src/app/user/parent/page.tsx
  src/app/user/student/page.tsx
  tsconfig.json
Labels: 📬 API, 💰 혜원

#43 Feat/#42/히스토리 API 연결
  constants/categoryLabel.tsx
  next.config.ts
  src/apis/newsHistory.ts
  src/apis/seriesHistory.ts
  src/apis/wordHistory.ts
  src/app/user/components/Dropdown.tsx
  src/app/user/components/HistoryBtn.tsx
  src/app/user/components/Options.tsx
  src/app/user/historyPage/components/HistoryStatusBtn.tsx
  src/app/user/historyPage/components/NewsCard.tsx
  src/app/user/historyPage/components/NewsHistory.tsx
  src/app/user/historyPage/components/SeriesCard.tsx
  src/app/user/historyPage/components/SeriesHistory.tsx
  src/app/user/historyPage/components/WordHistory.tsx
  src/app/user/historyPage/components/WordItem.tsx
  src/app/user/historyPage/page.tsx
Labels: 📬 API, 💰 혜원

#44 Feat/#30/MonSeries Study 페이지 구현 완료
  package-lock.json
  package.json
  src/app/(main)/MonNews/components/NewsItem.tsx
  src/app/(main)/MonQuiz/components/QuizItem.tsx
  src/app/(main)/MonQuiz/components/QuizList.tsx
  src/app/(main)/MonQuiz/components/QuizMarkItem.tsx
  src/app/(main)/MonQuiz/components/QuizMarkList.tsx
  src/app/(main)/MonSeries/components/ViewSwitchTab.tsx
  src/app/(main)/MonSeries/components/keyword/KeywordItem.tsx
  src/app/(main)/MonSeries/components/keyword/KeywordList.tsx
  src/app/(main)/MonSeries/components/keyword/KeywordModal.tsx
  src/app/(main)/MonSeries/components/keyword/SelectSeries.tsx
  src/app/(main)/MonSeries/components/series/PartItem.tsx
  src/app/(main)/MonSeries/components/series/SeriesItem.tsx
  src/app/(main)/MonSeries/components/series/SeriesList.tsx
  src/app/(main)/MonSeries/study/components/Header.tsx
  src/app/(main)/MonSeries/study/components/SeriesPartBar.tsx
  src/app/(main)/MonSeries/study/components/Study.tsx
  src/app/(main)/MonSeries/study/components/TextBox.tsx
  src/app/(main)/MonSeries/study/page.tsx
  src/app/(main)/MonWord/components/WordItem.tsx
  src/app/(main)/MonWord/components/WordList.tsx
  src/app/(main)/student/components/MonSeries/MonSeries.tsx
  src/app/(main)/student/components/MonSeries/SeriesCard.tsx
  src/app/(main)/student/components/MonSeries/TrendingSeriesDropdown.tsx
  src/app/(main)/student/components/TodayLearningRate.tsx
  src/app/user/components/Slider.tsx
  src/app/user/historyPage/components/CategoryBtn.tsx
  src/app/user/historyPage/components/WordItem.tsx
  src/components/shared/CommonBtn.tsx
  src/components/ui/WordBox.tsx
  src/store/useSeriesStore.ts
  src/types/category.ts
  src/types/monNews.ts
  src/types/monQuiz.ts
  src/types/monSeries.ts
  src/types/monWord.ts
  src/types/studentMain.ts
Labels: ✨ Feature, 💰 동은

#46 Feat/#45/mon news api
  src/apis/monNews.ts
  src/app/(main)/MonNews/components/NewsItem.tsx
Labels: 📬 API, 💰 동은
